<div class="Bui-Wrap">
    <div class="Bui-Textarea">
        <textarea class='Html-Textarea' rows="3" cols="20">
            <fieldset>
                <legend>按钮尺寸</legend>
                <button>超大按钮</button>
                <button>默认按钮</button>
                <button>小型按钮</button>
            </fieldset>
        </textarea>
        <textarea class='Script-Textarea' rows="3" cols="20">
            bui.use('button',function(){
                var button = bui.button
                console.log(button)
            })
        </textarea>
        <button class='Html-Button'>
            点击运行
        </button>
        <button class="Script-Button">
            点击运行
        </button>
    </div>
    <div class='Bui-Demo'>
    </div>
</div>