
<div class="BuiPage">
    <div class="Bui-TopBar">
        基于jquery的UI库
    </div>
    <% include ./BuiPage/menu.ejs %>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="/BuiPage/bundle.js"></script>