@import '../common/common';

.Bui-Menu-Tree{
    display: inline-block;
    width: 200px;
    min-height: 900px;
    padding: 25px;
    border-right: 1px solid #ebedf2;
    li{
        list-style: none;
        height: 40px;
        text-align: center;
        a{
            color: #000000;
        }
    }
}

.Bui-Docs{
    display: inline-block;
}