<div class="Bui-Menu">
        <ul class="Bui-Menu-Tree">
            <li>
                <a href="/ui/form">表单</a>
            </li>
            <li>
                <a href="/ui/button">按钮</a>
            </li>
            <li>
                <a href="/ui/nav">导航栏</a>
            </li>
        </ul>
        <div class="Bui-Docs">
                <%= component %>
        </div>
</div>


