<div class="Bui-Wrap">
    <div class="Bui-Textarea">
        <textarea class='Html-Textarea' rows="3" cols="20">
            <form class="Bui-form" action="http://localhost:3002/comments" method="get" data-success-callback="window.location.reload()">
                <div class='Bui-form-item'>
                    <label class='Bui-form-label' for="">手机号:</label>
                    <input type="text" name="phone" bui-verify="required|phone"/>
                </div>
                <div class='Bui-form-item'>
                    <label class='Bui-form-label' for="">邮箱:</label>
                    <input type="text" name="email" bui-verify="email"/>
                </div>
                <div class='Bui-form-item'>
                    <label class='Bui-form-label' for="">选择框:</label>
                    <div class="Bui-input-inline">
                        <select name="question" bui-verify="required" style="width: 100%;">
                            <option value="">请选择问题</option>
                            <option value="0">你工作的第一个城市</option>
                            <option value="1" disabled="">你的工号</option>
                            <option value="2">你最喜欢的老师</option>
                        </select>
                    </div>

                </div>
                <div class='Bui-form-item'>
                    <label class='Bui-form-label' for="">选择框:</label>
                    <div class="Bui-input-inline">
                        <select name="question2" bui-verify="required" style="width: 100%;">
                            <option value="">请选择问题</option>
                            <option value="0" disabled>你工作的第一个城市</option>
                            <option value="1">你的工号</option>
                            <option value="2">你最喜欢的老师</option>
                        </select>
                    </div>
                </div>
                <div class='Bui-form-item'>
                    <label class='Bui-form-label' for="">单选框:</label>
                    <div class="Bui-input-inline">
                        <input type='radio' value ='男' name ='sex'/>
                        <input type='radio' value ='女' name='sex'/>
                    </div>
                </div>
                <div class="Bui-form-item Bui-form-submit">
                    <button class="bui-submit" bui-submit>提交</button>
                </div>
                </form>
        </textarea>
        <textarea class='Script-Textarea' rows="3" cols="20">
            bui.use('form',function(){
                var form = bui.form

                form.on('select',function(data){
                    console.log(data)
                })

                form.on('submit',function(data){
                    console.log(data)
                })

            })
        </textarea>
        <button class='Html-Button'>
            点击运行
        </button>
        <button class="Script-Button">
            点击运行
        </button>
    </div>
    <div class='Bui-Demo'>
    </div>
</div>