<div class="Bui-form">
    <div class="Bui-Textarea">
        <textarea class='Html-Textarea' rows="3" cols="20">
            <div>
                <input type='text'></input>
            </div>
        </textarea>
        <textarea class='Script-Textarea' rows="3" cols="20">
        bui.use('form',function(){})
        </textarea>
        <button class='Html-Button'>
            点击运行
        </button>
        <button class="Script-Button">
            点击运行
        </button>
    </div>
    <div class='Bui-Demo'>
    </div>
</div>